* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  color: #333;
  
}

.container {
  width: 100%;
  padding: 20px;
  max-width: 375px;
  max-height: 604px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 23px;
  font-weight: bold;
  color: #0712ac;
  text-decoration: none;
}

.main-content {
  margin-top: 50px;
  text-align: left;
  background-image: url(src/background.png);
  background-repeat: no-repeat;
  padding: 0 10px;
}

.main-content h1 {
  font-size: 45px;
  color: #1a1a1a;
  margin-bottom: 20px;
  align-items: left;
}

.main-content h3 {
  margin-bottom: 15px;
  color: rgb(10, 10, 109);
}

.main-content p {
  font-size: 20px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 30px;
}

