* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  /* width: 375px;
  height: 652px; */
}

.first-page {
  background-color: #fff;
  border-radius: 0 0 0 98px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(48px, 6vw, 72px);
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 40px;
  margin-left: 12px;
  padding: 10px 12px;
}

header h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  margin: 0;
  padding: 0;
}

.menu {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 24px;
}

.main-content {
  text-align: left;
  background-image: url(src/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: clamp(114px, 13.4vw + 4px, 289px) clamp(24px, 6.3vw + 4px, 260px);
  height: 94vh;
  width: 100vw;
}

.main-center {
  width: 100%;
  display: grid;
  row-gap: 10px;
}

.main-content h2,
.about h2 {
  font-size: clamp(45px, 3.2vw + 15px, 48px);
  color: #172b4d;
  align-items: left;
  line-height: 52px;
  margin: 0;
  padding: 0;

  /* height: 100%; */
  width: 100%;

  /* height: 150px;
  width: 327px; */
}

.main-content p,
.about p {
  font-size: clamp(16px, 2vw + 5px, 20px);
  line-height: 24px;
  color: #344563;
  font-weight: 400;

  /* height: 100%;
  width: 100%; */

  /* height: 146px;
  width: 327px; */
  padding: 0;
  margin: 0;
}

.main-content h4,
.about h4 {
  margin: 2px 0;
  width: 119px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  color: #7f8cff;
}

.social-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-right: 15px;
}

.all-projects {
  width: 100%;
  height: auto;
  padding: 114px 24px;
  display: grid;
  place-items: center;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr); /* 4 equal rows */
  align-items: start;
  row-gap: 88px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 552px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
}

.project-wide {
  height: 596px;
}

.project h3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700px;
  color: #172b4d;
  margin: 0;
  padding: 0;
  height: 36px;
  width: 250px;
  margin-bottom: 12px;
}

.project .Multi-Post {
  height: 80px;
}

.project .job-details {
  height: 32px;
  width: 238px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.project h4 {
  width: 55px;
  height: 32px;
  color: #344563;
  line-height: 16px;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 8px 0;
}

.project .dot {
  color: #c1c7d0;
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 32px;
}

.project .role,
.year {
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.project p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 76px;
  width: 295px;
  color: #344563;
  margin: 12px 0 0 0;
  padding: 0;
}

.project ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 12px 0;
  padding: 0;
}

.project li {
  border-radius: 8px;
  background-color: #ebebff;
  padding: 4px 12px;
  color: #6070ff;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3%;
  margin-right: 8px;
  height: 24px;
}

.project .first {
  width: 57px;
}

.project .second {
  width: 49px;
}

.project .third {
  width: 92px;
}

.project .see-button,
.about .resume-button {
  height: 48px;
  width: 126px;
  border-radius: 8px;
  color: #6070ff;
  padding: 12px;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: #fff;
  margin: 12px 0;
}

.about {
  padding: 114px 24px;
  margin: 0 auto;
  width: 100vw;
  height: 1162.15px;
  background-color: #fff;
  border-radius: 0 70px 0 0;
}

.about .resume-button {
  width: 162px;
  margin: 0;
}

.about .about-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.all-skills {
  height: 464.15px;
  width: 100%;
}

.all-skills .skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 327px;
  padding: 24px 13px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.skill h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.all-languages {
  height: 248.15px;
  width: 327px;
  padding: 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.language {
  display: flex;
  flex-direction: row;
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  background-color: #f7f7f9;
  padding: 9px 11px;
  margin-bottom: 12px;
}

.all-languages .type {
  align-items: center;
  padding: 15px;
}

.all-languages h2 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 0;
  padding: 0;
  height: 24px;
  width: 100%;
}

.contact-me {
  width: 100%;
  height: 779px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.contact-me .blue {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  border-radius: 70px 0 0 0;
  color: #fff;
  padding: 114px 24px;
  background-image: url(src/contact\ form\ shapes-mobile.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

.contact-me h2 {
  margin: 0;
  line-height: 52px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding: 0;
}

.contact-me p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.contact-me .inputs {
  width: 327px;
  height: 48px;
  border-radius: 5px;
  margin: 9px 0;
  padding: 0 18px;
  border-style: none;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.inputs::placeholder {
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
}

.contact-me #textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
}

.contact-me #textarea {
  height: 170px;
  padding: 8px 12px;
}

.contact-me .get-in-touch {
  width: 142px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #fff;
  color: #6070ff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  font-weight: 500;
  border-color: #6070ff;
  border-style: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 40px;
  }

  .main-content {
    text-align: left;
    background-image: url(src/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .all-projects {
    padding: 130px 60px;
    margin: 0;
    row-gap: 142px;
  }

  .project {
    display: flex;
    flex-direction: row;

    /* grid-template: 448px / 50% 50%; */
    padding: 24px;
    height: 496px;
    column-gap: 10px;
    margin: 0;
  }

  .project-wide {
    flex-direction: row-reverse;
  }

  .project .image {
    width: 100%;
    height: 100%;
  }

  .project img {
    width: 100%;
    height: 100%;
  }

  .project .details {
    width: 100%;
    padding: 24px;
    height: 100%;
  }

  .project h3 {
    font-size: 40px;
    line-height: 52px;
  }

  .project .Multi-Post {
    height: auto;
    width: 100%;
  }

  .project h4,
  .year {
    font-size: 18px;
    line-height: 24px;
    height: 40px;
    padding: 8px 0;
  }

  .project .job-details {
    width: 297px;
  }

  .project h4 {
    width: 80px;
  }

  .project .role {
    line-height: 24px;
    width: 130px;
    font-size: 18px;
  }

  .project .year {
    width: 38px;
  }

  .project p {
    font-size: 16px;
    line-height: 24px;
    height: auto;
    width: 100%;
  }

  .about {
    display: grid;
    grid-template: 448px / 39% 61%;
    width: 100%;
    height: auto;
    padding: 130px 60px;
    align-items: center;
    column-gap: 12px;
    border-radius: 0 120px 0 0;
  }

  .about-details h2 {
    line-height: 52px;
    font-size: 40px;
  }

  .language .type {
    padding: 5px;
  }

  .about p {
    line-height: 24px;
    font-size: 16px;
  }

  .all-skills .skill {
    width: 100%;
  }

  .all-languages {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 12px;
    padding: 24px 12px;
  }

  .language {
    flex-direction: column;
    height: 120px;
    width: 122px;
  }

  .contact-me .blue {
    width: 100%;
    height: 100%;
    border-radius: 130px 0 0 0;
    padding: 130px 60px;
    background-image: url(src/contact\ form\ background\ shapes@2x.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .contact-me .inputs {
    width: 447px;
  }

  .contact-me p {
    width: 568px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 80px;
  }

  .all-projects {
    padding: 142px;
  }

  .about {
    padding: 142px;
  }

  .contact-me .blue {
    padding: 142px;
  }
}

@media screen and (min-width: 1200px) {
  .main-content {
    padding: 289px 260px;
  }

  .header {
    padding: 0 140px;
  }

  .project .details {
    height: 445px;
  }
}
